<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HELMET2KART - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="../users/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="../https://fonts.gstatic.com">
    <link href="../users/https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="../users/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../users/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../users/css/style.css" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    

</head>

<body>



{{>user-header}}
{{{body}}}
{{>user-footer}}


    
   <script src="users/https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="users/https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="users/lib/easing/easing.min.js"></script>
    <script src="users/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="users/mail/jqBootstrapValidation.min.js"></script>
    <script src="users/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="users/js/main.js"></script>
    <script src="/js/zoomsl.min.js"></script>

    <script src="/javascripts/script.js"></script>



    
</body>

</html>